#bleh{
    color: yellow;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#blah{
    font-family: 'Times New Roman', Times, serif;
}
div{
    background-color:chartreuse;
    border: 10px black;
}
body{
    background-color: cyan;
}